.container {
  width: 100%;
  background-color: black;
}

nav ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul.navbar li {
  float: left;
}

nav ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul.navbar li a:hover {
  background-color: #333;
}


.nav-right {
  float: right;
}

.nav-right li {
  display: inline;
}

.containerW
{
 
  padding: 30px;
  background: #f4f6f8;
  width: 100%;
}

.Wave
{
  width: 100%;
}

