.container {
  width: 100%;
  background-color: black;
}

nav ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul.navbar li {
  float: left;
}

nav ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul.navbar li a:hover {
  background-color: #333;
}


.nav-right {
  float: right;
}

.nav-right li {
  display: inline;
}

.containerW
{
 display: flex;
  padding: 30px;
  background: #f4f6f8;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Wave
{
  width: 100%;
}

.containerContenido{

margin-bottom: 1rem;
}

h5
{
  color: #525b64;
}

.ContainerCentrado {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}

.ContainerAcercaInfo {
  max-width: 300px;
}

.ContainerImg {
  margin-left: 20px; 
}

.ContainerImg img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .ContainerCentrado {
      flex-direction: column; 
      align-items: center; 
  }

  .ContainerImg {
      margin-left: 0; 
      margin-top: 20px; 
      
  }
}

.Img{

  border-radius: 15px;
}


.ResolucionImg{

  width: 250px;
  height: auto;
  margin-right: 2rem;
}

h1
{
  display: flex;
  justify-content: center;
}

.ContainerCentrado h2
{
  display: flex;
  justify-content: center;
  margin-right: 3rem;
}

